* {
    font-size: 15px;
}

body {
    overflow-x: hidden;
}

.formInput {
    /* background-color: white; */
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, red, yellow);
    width: 440px;
    right: 0;
    height: 100%;
    transform: translateX(100%);
    z-index: 999;
}

form {
    font-size: 5px;
}

.Dgradient {
    color: white;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, red, yellow);
}

.tright {
    right: 0;
}

.bpesan {
    left: -210px;
    margin-top: 170px;
}

.formInput.slide {
    transform: translateX(0);
    transition: 0.3s;
}

@media (max-width: 575.98px) {
    .formInput {
        transform: none;
        right: none;
        width: 100%;
        position: static;
        top: 100%;
    }

    .bpesan {
        top: -93px;
        left: 0;
        margin-top: 0;
        width: 100%;
    }

    .formInput.slide-up {
        top: 0;
        transition: 0.3s;

    }

    .close {
        right: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

    .centre {
        padding: 0 20px

    }
}